<!DOCTYPE html>
<html lang="en">
<head>
    <title>Landing Page</title>

</head>

<body>
<form action="api/v1/enduser" method="post" target="_blank" >
    <label for="name">Full name:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title"><br>
    <label for="mail">Email:</label><br>
    <input type="text" id="mail" name="mail"><br>
    <label for="phone">Phone Number:</label><br>
    <input type="text" id="phone" name="phone"><br><br>
    <input type="submit" value="Submit">

</form>
</body>
</html>


